/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 8, 2018, 3:22:46 PM
    Author     : o0dem
*/

#info{
    margin-left: 2em;
    display: inline-block;
}

#menu{
    display:inline-block;
    margin-left: 10%
}

#menu button{
    width:200px;
}                        
h1 .head{
    display:inline-block;
}

footer
{
    text-align:center;
    position: fixed;
    bottom:10px;
    width:100%;
    display:inline-block;
    vertical-align:top;
}

footer a
{
    padding-left: 1em;
    padding-right: 1em;
}

footer a:not(:first-child)
{
    border-style: solid;
    border-width: 0px 0px 0px 1px;
}